In [1]:
print("hello world")

hello world

In [22]:
name = "Mark"
name = "ace"
name = "muneeb"
print(name)

muneeb

In [37]:
a = "1"
b = "3"
c = "97"
print(a+b+c)

1397

In [54]:
c = 97
new_number = c - 3
print(new_number)

94

In [50]:
first_name = "Muneeb"
last_name = "Farrukh"
print(first_name + " " + last_name)

Muneeb Farrukh

In [56]:
X=5
print(X)

5

In [58]:
a = 10 % 4
print(a)

2

In [21]:
age = 2
age *=5
print(age)

10

In [ ]:
age = 2
age = age + 5

In [11]:
c = (97 - 3) * 100/5
print(c)

1880.0

In [7]:
result_of_computation = (2 * 4) * 4 + 2
print(result_of_computation)

34

In [6]:
x = input("Enter your age")
y = 20
z = int(x)+y
print(z)

Enter your age12
32

In [9]:
a = "15"
b = 3
c = int(a)*b
print(c)

45

In [18]:
a = 'Muneeb'
a1 = 'Farruh'
a2 = 'Nazir'
b = a + " " + a1 + " " + a2
print(b)

Muneeb Farruh Nazir

In [30]:
a = 4**2*6
print(a)

96